# Optimizing a Lineup

To begin I first need to figure out how to figure out what is the optimal team possible. DraftKings' rules dictate that the lineup be 1 QB, 2 RB, 3 WR, 1 TE, 1 FLEX, and 1 DEF, with a salary cap of \$50,000.

Let $F$ be the set of all football players $QB$ be the set of all quarterbacks, $RB$ be the set of all runningbacks $WR$ be the set of all wide receivers, $TE$ be the set of all tight ends, and $D$ be the set of all defenses.

Let $p_i$ be the points and $s_i$ be the DraftKings' salary of player $i \in F$.

So we need to optimize the following function:

$$\sum_{i\in F}p_i \beta_i$$

with constraints:

$\sum_{i\in F}s_i \beta_i \leq 50,000$

$\sum_{i \in QB} \beta_i = 1$

$2 \leq \sum_{i \in RB} \beta_i \leq 3$

$3 \leq \sum_{i \in WR} \beta_i \leq 4$

$1 \leq \sum_{i \in WR} \beta_i \leq 2$

$\sum_{i \in D} \beta_i = 1$

$\beta_i \in \{0,1\}$

So the $\beta_i$ values here are a binary indicator of whether or not the player is in our lineup.

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect
from gurobipy import *

engine = create_engine("postgresql+psycopg2://football:isback@localhost/nfl")

In [2]:
q = '''
SELECT * FROM draftkings
WHERE week = 1;
'''
player_df = pd.read_sql(q, engine)

In [3]:
player_df.head()

   week  year   gid              name pos team ha oppt  dkpoints  dksalary
0     1  2017  1254        Alex Smith  QB  kan  a  nwe     34.02    5400.0
1     1  2017  1344      Sam Bradford  QB  min  h  nor     28.54    5900.0
2     1  2017  1340  Matthew Stafford  QB  det  h  ari     28.08    6100.0
3     1  2017  1514      Carson Wentz  QB  phi  a  was     23.88    5300.0
4     1  2017  1488    Trevor Siemian  QB  den  h  lac     23.66    5000.0

In order to optimize this problem, I want to get dummies for each position.

In [4]:
player_df_dummies = pd.get_dummies(player_df, columns = ['pos'])

We really only need the `dkpoints` `dksalary` and the `pos` dummy variables for this part.

In [5]:
dk_df = player_df_dummies.iloc[:,-7:]

In [6]:
dk_df.columns

Index(['dkpoints', 'dksalary', 'pos_Def', 'pos_QB', 'pos_RB', 'pos_TE',
       'pos_WR'],
      dtype='object')

In [7]:
new_cols = ['p', 's', 'D', 'QB', 'RB', 'TE', 'WR']
dk_df.columns = new_cols

In [8]:
dk_df.head()

       p       s  D  QB  RB  TE  WR
0  34.02  5400.0  0   1   0   0   0
1  28.54  5900.0  0   1   0   0   0
2  28.08  6100.0  0   1   0   0   0
3  23.88  5300.0  0   1   0   0   0
4  23.66  5000.0  0   1   0   0   0

In [30]:
dk_df['beta'] = np.zeros(dk_df.shape[0])

In [19]:
GRB.BINARY

'B'

In [55]:
m = Model()

cont_vars = pd.Series(m.addVars(dk_df.columns[:2]), index=dk_df.columns[:2])
cat_vars = pd.Series(m.addVars(dk_df.columns[2:], vtype=GRB.BINARY), index=dk_df.columns[2:])

In [56]:
m